#page 
		{width: 100%;
			height: 100%;
			background-color: #c795a1}

#header
{width: 100% ; 
 height: 300px;
 }

 #content
 {width: 100%;
 	height: 500px;
}

#footer
{width: 100%;
height: 200px;
}



.bak
{width: 100%;
height: 100%;
border-radius:50px}

#lift1
{background-color: #c795a1}


h1
{float: left;
margin-top: 234px;
margin-left:-230px;
color:#502956 }
h1:hover
{color: white}

#right1
 {width:  555px;
 	height: 71px;
 	float: left;
 	font-size: 41px;
 	color:#502956;
 	margin: 100px 100px 50px 100px ;
 	border: #502956 solid 5px; 
 	font-family: fantasy;
 	text-shadow: 10px 10px 10px #502956 }

#lift2
{width: 20%;
height: 100%;
background-color:#502956;
float:left; }

#right2
 p
{width: 66%;
height: 15%;
font-size: 42px;
border:solid 5px gray;

margin-left: 20px ;
float: left;}

.s
{width: 205px;
height: 200px;
border-radius: 70px 0 70px 0;
float: left;
transition: width 1s , height 1s ,opacity 1s , transform 10s ;border:solid 5px  gray ; padding;}

.s:hover
{width: 250px;
	height: 250px;
	transform: rotate(360deg)}
.w
{width: 205px;
height: 200px;
border-radius: 70px 0 70px 0;
float: left;
transition: width 1s , height 1s ,opacity 1s , transform 10s ;border:solid 5px  gray ; padding;}
.w:hover
{width: 250px;
	height: 250px;
	transform: rotate(360deg)}
.o
{width: 205px;
height: 200px;
border-radius: 70px 0 70px 0;
float: left;
transition: width 1s , height 1s ,opacity 1s , transform 10s ;border:solid 5px  gray ; padding;}
.o:hover
{width: 250px;
	height: 250px;
	transform: rotate(360deg)}
input
{width: 100px;height: 50px;background-color: white;
float:right;}

a
{text-decoration: none;}
#left2
{width: 46%;
height: 100%}
#lift2 ul
{list-style: none; padding: none;
margin-left: 5px}

#lift2 ul li
{font-size: 50px;
padding: 20px;
margin-top: 25px;
margin-left: 5px;
color: red}

a:hover
{background-color:white;}


.me
{width: 186px;
height: 169px;
float: left;
margin: 27px 60px 0 20px;
border-radius: 117px;
}

 
